
body{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #2b2b2b;     
    font-family: 'pf_din_text_comp_promedium';
}
table{
    margin-left: auto;
    margin-right: auto;
    border: black 3px solid;
}
tr{
    background-color: #404040;
}
td{
    border: black 3px solid;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color:#ce9c38;
}

div#menubar a{
    color: #ce9c38;
    display: inline-block;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

th{
    color: #cc9933;
    background-color: #1a1a1a;
    padding: 15px;
    font-size: 20px;
}
p{
    color: #ce9c38;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
}
.text{
    margin-left: 200px;
    margin-right: 200px;
    background-color:#333333;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 50px;
    border: #1a1a1a 1.7px solid;
    border-radius: 50px;
}
h1{
    color:#cc9933;
    padding: 20px;
    margin-top: 2px;
    font-size: 75px;
}
img{
    width: 300px;
}
.collapse{
    border-collapse: collapse;
}
tr:hover{
    background-color: #666666;
}

h2{
    size: 20px;
}

.menubar ul li a{
    text-decoration: none;
    color: white;
}
.parag{
    border: none;
    background-color: #333333;
    margin-bottom: 50px;
}

div#menubar{
    border-bottom: #ce9c38 1px solid;
    position: sticky;   
    top: 0px;
    left: auto;
    right: auto;
    background-color: #2b2b2b;
    margin: 0px;
}

.a1{
    min-width: 7%;
    max-width: 7%;
    border-right: #ce9c38 4px solid;

    background-color: #2b2b2b;
}
.a1::after{
    content: '';
    display:block;
    width: 0;
    height: 2px;
    background: #a37a29;
    transition: width .3s;
}

.a1:hover::after{
    width: 100%;
    transition: width .3s;
    
}