
body{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    background-color: bisque;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: black 3px solid;
}
tr{
    background-color: bisque;
    
}
td{
        border: black 3px solid;
        font-weight: bold;
        padding: 10px;
        text-align: center;
}

div#menubar a{
    color: black;
    display: inline-block;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

th{
    color: bisque;
    background-color: black;
    padding: 15px;
    font-size: 20px;
}
p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
}
.text{
    margin-left: 200px;
    margin-right: 200px;
    background-color: burlywood;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 50px;
    border: black 3px solid;
    border-radius: 50px;
}
h1{
    padding: 20px;
    margin-top: 2px;
    font-size: 75px;
}
img{
    width: 300px;
}
.collapse{
    border-collapse: collapse;
}
tr:hover{
    background-color: #ffddb3;
}

h2{
    size: 20px;
}

.menubar ul li a{
    text-decoration: none;
    color: white;
}
.parag{
    border: black 3px solid;
    background-color: bisque;
    margin-bottom: 50px;
}

div#menubar{
    border: black 2px solid;
    position: sticky;   
    top: 0px;
    left: auto;
    right: auto;
    background-color: burlywood;
    margin: 0px;
}

.a1{
    border: black 3px solid;
    background-color: bisque;
}
.a2{
    border: black 3px solid;
    background-color: bisque;
}
.a3{
    border: black 3px solid;
    background-color: bisque;
}
.a4{
    border: black 3px solid;
    background-color: bisque;
}
.a5{
    border: black 3px solid;
    background-color: bisque;
}
.a6{
    border: black 3px solid;  
    background-color: bisque;
}
.a7{
    border: black 3px solid;
    background-color: bisque;
}
.a8{
    border: black 3px solid;
    background-color: bisque;
}

