/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020. nov. 11., 12:20:10
    Author     : Bales47
*/
body{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: black 3px solid;
}
tr{
    background-color: bisque;
}
td{
        border: black 3px solid;
        font-weight: bold;
}

.menubar{
    background: rgb(0,100,0);
    text-align: center;
}

.menubar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menubar ul li{
    
    width: 120px;
    margin: 15px;
}
