/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020. nov. 11., 12:20:56
    Author     : Bales47
*/
body{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}
.szovg{
    background-color: baige;
    border: aqua 4px solid;
}
